.g-button {
    color: $color-button-text;
    background-color: $color-button-bg;
    font-size: 20px;
    line-height: 1em;
    padding: 18px 38px;
    border-radius: 35px;
    text-decoration: none;
    display: inline-block;
    &--bold {
        font-family: $font-base-bold;
        line-height: 28px;
    }
    &--inverted {
        background-color: $color-button-text;
        color: $color-button-bg;
    }
}

button {
    @extend .g-button;
}