/* COLORI */

$color-text: #374754;
$blue: #2091F9;
$white: #FFFFFF;
$dark-background: #252B42;
$color-button-text: $white;
$color-button-bg: $blue;
$color-input-text: #18171D;
$bg-color: $white;

/* FONTS */

$font-base: 'Graphik Regular';
$font-base-bold: 'Graphik Bold';
$font-size-base: 18px;

/* TITLES */

$font-h1-size: 74px;
$font-h2-size: 48px;
$font-h3-size: 20px;
$font-h4-size: 28px;
$font-h6-size: 16px;

/* BREACKPOINTS */

$screen-max-mobile: 767px;
$screen-min-tablet: 768px;
$screen-max-tablet: 991px;
$screen-min-desktop: 992px;