/* colori*/
$white: #ffffff;
$primary-color: #23a6f0;
$secondary-color: #40bb15;
$title-color: #252b42;
$text-color: #737373;
$dark-background-color: #252b42;
$light-background-color: $white;
$color-button-text: $white;
$color-button-bg: $primary-color;
$bg-color: $white;
$grey-border: #dedede;
$secondary-bg: #fafafa;

/*font*/
$font-size: 18px;
$font-family: "Montserrat", sans-serif;
$font-p-size: 14px;
$font-nav-link-size: 30px;

/*titoli */
$font-h1-size: 58px;
$font-h2-size: 40px;
$font-h3-size: 24px;
$font-h4-size: 20px;
$font-h5-size: 16px;

/* breackpoint */
$screen-max-mobile: 995px;
$screen-min-desktop: 996px;
